html{
  scroll-behavior: smooth;
  font-size: 22px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

a:hover{
  color: #FB1A1A;
  transform: rotate(10deg) scale(0.95, 0.95);
}

i{
  color: #514457;
}

i:hover{
  color: #FB1A1A;
  transform: rotate(10deg) scale(0.95, 0.95);
}

ul{
  list-style:none;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(239, 159, 11, 0.123);
}

.menu{
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.home i{
  font-size: 1.5em;
}

.item{
  font-size: 0.7em;
  font-family: "Rubik", sans-serif;
  margin: 10px;
}

.div-selfie {
  position: absolute;
  right: 0;
  bottom: 13%;
}

.top-part{
  background: rgb(239,160,11);
  background: linear-gradient(355deg, rgba(239,160,11,0.270935960591133) 0%, rgba(244,91,105,0.32512315270935965) 51%, rgba(64,98,187,0.20197044334975367) 93%); 
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.greetings{
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight:bolder;
  padding: 7vh 7vw;
  text-align: center;
  color: #514457;
  
}

.top-part .name{
  display: none;
}

.top-part span{
  color: #FB1A1A;
}

.bottom-part{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-part .invitation-to-scroll{
  font-family: "Prompt", sans-serif;
  color: #514457;
  font-size: 0.7em;
  font-weight:bolder;
  padding: 20px 10vw;
}

.bottom-part .div-chevron-down{
  text-align: center;
  margin: -20px 0 180px;
}

.bio-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bottom-part .bio-container p{
  font-family: "Pontano Sans", sans-serif;
  padding: 20px;
  color: #514457;
  max-width: 600px;

}

.socials{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  width: 50%;
}

.socials .social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 10px 10px;
}

.social-icon i{
  font-size: 3em;
}

.second-page{
  background: rgb(239,160,11);
  background: linear-gradient(355deg, rgba(239,160,11,0.270935960591133) 0%, rgba(244,91,105,0.32512315270935965) 51%, rgba(64,98,187,0.20197044334975367) 93%); 
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.iframe{
  background-color: white;
  width: 30%;
  min-width: 300px;
  height: 30%;
  min-height: 900px;
  margin: 100px;
}

.produced-by{
  text-align: end;
  font-size: 0.5em;
}

@media only screen and (min-width: 400px) and (max-width:925px){

  .top-part .name{
    display: inline;
    word-wrap: break-word;
    font-family: "Prompt", sans-serif;
    color: white;
    font-size: 6.5em;
    padding: 30px;
    line-height: 0.85em;
    overflow:unset;
    width: 90%;
  }

  .br-only-on-mobile{
    display: none;
  }
}


@media only screen and (min-width: 926px){

  .top-part .name{
    display: inline;
    word-wrap: break-word;
    font-family: "Prompt", sans-serif;
    color: white;
    font-size: 6.5em;
    padding: 30px;
    line-height: 0.85em;
    overflow:unset;
    width: 90%;
  }

  .br-only-on-mobile{
    display: none;
  }

  .socials .social-icon{
  width: 20%;
  }
}